.body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    margin: 500px auto;
    cursor: pointer;
}